.header {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        img{
            // width: retr(60);
            border: 1px solid $yellow;
        }
    }
    
}
