.header {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        img{
            width: retr(64);
            border: retr(2) solid $yellow;
            border-radius: 20%;
        }
    }
    
}
